.item {
  position: relative;
}

.item > img {
  width: 100%;
  height: auto;
}

.delete-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
.delete-btn:hover {
  color: red;
  transition: color ease-out 0.3s;
}

.container {
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  position: relative;
}

.container > h3 {
  opacity: 0;
  position: absolute;
  top: 10px;
  margin: 0 1em;
  transition: opacity 0.2s ease-in-out;
  font-size: small;
}

.container > img {
  transition: opacity 0.2s ease-in-out;
}

.container:hover > img {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}

.container:hover > h3 {
  cursor: pointer;
  opacity: 1;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
}
